# CalCOFI
### Over 60 years of oceanographic data
#### Dataset: https://www.kaggle.com/datasets/sohier/calcofi
#### Table Info: https://calcofi.org/data/oceanographic-data/bottle-database/

## EDA and Data Preparation

#### Load Data

In [1]:
''' Loading in spark '''
import pyspark
from pyspark.sql import SparkSession

conf = pyspark.SparkConf().setAll([
    ('spark.master', 'local[1]'), 
    ('spark.app.name', 'App Name')])
    
spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark.version

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/spark-3.2.1/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2022-05-20 19:39:23,930 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

'3.2.1'

In [2]:
''' Read the data '''
bottle = spark.read.csv("hdfs:///bottle.csv", header=True, inferSchema=True).cache() ##leslie's path
# bottle = spark.read.csv("file:///home/work/Final/data/bottle.csv", header=True).cache() ##karina's path
maxRows = bottle.count()
print("There are", maxRows, "rows in the initial dataframe")

2022-05-20 19:39:38,465 WARN util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

There are 864863 rows in the initial dataframe

cast = spark.read.csv("file:///home/work/Final/data/cast.csv", header=True, inferSchema=True).cache()
cast.count()

In [3]:
''' View the inferred schema '''
print("There are", len(bottle.columns), "columns in the initial dataframe")
bottle.printSchema()

There are 74 columns in the initial dataframe
root
 |-- Cst_Cnt: integer (nullable = true)
 |-- Btl_Cnt: integer (nullable = true)
 |-- Sta_ID: string (nullable = true)
 |-- Depth_ID: string (nullable = true)
 |-- Depthm: integer (nullable = true)
 |-- T_degC: double (nullable = true)
 |-- Salnty: double (nullable = true)
 |-- O2ml_L: double (nullable = true)
 |-- STheta: double (nullable = true)
 |-- O2Sat: double (nullable = true)
 |-- Oxy_µmol/Kg: double (nullable = true)
 |-- BtlNum: integer (nullable = true)
 |-- RecInd: integer (nullable = true)
 |-- T_prec: integer (nullable = true)
 |-- T_qual: integer (nullable = true)
 |-- S_prec: integer (nullable = true)
 |-- S_qual: integer (nullable = true)
 |-- P_qual: integer (nullable = true)
 |-- O_qual: integer (nullable = true)
 |-- SThtaq: integer (nullable = true)
 |-- O2Satq: integer (nullable = true)
 |-- ChlorA: double (nullable = true)
 |-- Chlqua: integer (nullable = true)
 |-- Phaeop: double (nullable = true)
 |-- Phaqua: integer (nullable = true)
 |-- PO4uM: double (nullable = true)
 |-- PO4q: integer (nullable = true)
 |-- SiO3uM: double (nullable = true)
 |-- SiO3qu: integer (nullable = true)
 |-- NO2uM: double (nullable = true)
 |-- NO2q: integer (nullable = true)
 |-- NO3uM: double (nullable = true)
 |-- NO3q: integer (nullable = true)
 |-- NH3uM: double (nullable = true)
 |-- NH3q: integer (nullable = true)
 |-- C14As1: double (nullable = true)
 |-- C14A1p: integer (nullable = true)
 |-- C14A1q: integer (nullable = true)
 |-- C14As2: double (nullable = true)
 |-- C14A2p: integer (nullable = true)
 |-- C14A2q: integer (nullable = true)
 |-- DarkAs: double (nullable = true)
 |-- DarkAp: integer (nullable = true)
 |-- DarkAq: integer (nullable = true)
 |-- MeanAs: double (nullable = true)
 |-- MeanAp: integer (nullable = true)
 |-- MeanAq: integer (nullable = true)
 |-- IncTim: string (nullable = true)
 |-- LightP: double (nullable = true)
 |-- R_Depth: double (nullable = true)
 |-- R_TEMP: double (nullable = true)
 |-- R_POTEMP: double (nullable = true)
 |-- R_SALINITY: double (nullable = true)
 |-- R_SIGMA: double (nullable = true)
 |-- R_SVA: double (nullable = true)
 |-- R_DYNHT: double (nullable = true)
 |-- R_O2: double (nullable = true)
 |-- R_O2Sat: double (nullable = true)
 |-- R_SIO3: double (nullable = true)
 |-- R_PO4: double (nullable = true)
 |-- R_NO3: double (nullable = true)
 |-- R_NO2: double (nullable = true)
 |-- R_NH4: double (nullable = true)
 |-- R_CHLA: double (nullable = true)
 |-- R_PHAEO: double (nullable = true)
 |-- R_PRES: integer (nullable = true)
 |-- R_SAMP: integer (nullable = true)
 |-- DIC1: double (nullable = true)
 |-- DIC2: double (nullable = true)
 |-- TA1: double (nullable = true)
 |-- TA2: double (nullable = true)
 |-- pH2: double (nullable = true)
 |-- pH1: double (nullable = true)
 |-- DIC Quality Comment: string (nullable = true)

cast.printSchema()

In [4]:
''' See a snippet of what this dataframe looks like '''
bottle.show(2)

+-------+-------+-----------+--------------------+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+----+------+------+-----+----+-----+----+-----+----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+-------------------+
|Cst_Cnt|Btl_Cnt|     Sta_ID|            Depth_ID|Depthm|T_degC|Salnty|O2ml_L|STheta|O2Sat|Oxy_µmol/Kg|BtlNum|RecInd|T_prec|T_qual|S_prec|S_qual|P_qual|O_qual|SThtaq|O2Satq|ChlorA|Chlqua|Phaeop|Phaqua|PO4uM|PO4q|SiO3uM|SiO3qu|NO2uM|NO2q|NO3uM|NO3q|NH3uM|NH3q|C14As1|C14A1p|C14A1q|C14As2|C14A2p|C14A2q|DarkAs|DarkAp|DarkAq|MeanAs|MeanAp|MeanAq|IncTim|LightP|R_Depth|R_TEMP|R_POTEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_NH4|R_CHLA|R_PHAEO|R_PRES|R_SAMP|DIC1|DIC2| TA1| TA2| pH2| pH1|DIC Quality Comment|
+-------+-------+-----------+--------------------+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+----+------+------+-----+----+-----+----+-----+----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+-------------------+
|      1|      1|054.0 056.0|19-4903CR-HY-060-...|     0|  10.5| 33.44|  null|25.649| null|       null|  null|     3|     1|  null|     2|  null|     9|     9|  null|     9|  null|     9|  null|     9| null|   9|  null|     9| null|   9| null|   9| null|   9|  null|  null|     9|  null|  null|     9|  null|  null|     9|  null|  null|     9|  null|  null|    0.0|  10.5|    10.5|     33.44|  25.64|233.0|    0.0|null|   null|  null| null| null| null| null|  null|   null|     0|  null|null|null|null|null|null|null|               null|
|      1|      2|054.0 056.0|19-4903CR-HY-060-...|     8| 10.46| 33.44|  null|25.656| null|       null|  null|     3|     2|  null|     2|  null|     9|     9|  null|     9|  null|     9|  null|     9| null|   9|  null|     9| null|   9| null|   9| null|   9|  null|  null|     9|  null|  null|     9|  null|  null|     9|  null|  null|     9|  null|  null|    8.0| 10.46|   10.46|     33.44|  25.65|232.5|   0.01|null|   null|  null| null| null| null| null|  null|   null|     8|  null|null|null|null|null|null|null|               null|
+-------+-------+-----------+--------------------+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+----+------+------+-----+----+-----+----+-----+----+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+-------------------+
only showing top 2 rows

cast.show(2)

#### Remove columns that are not needed

Removing the four string columns because they aren't useful for our purposes
* Sta_ID: Line and Station
* Depth_ID: Uses the Cast_ID prefix ([Century]-[Year][Month][ShipCode]-[CastType][Julian Day]-[CastTime]-[Line][Sta]) but adds three additional variables: [Depth][Bottle]-[Rec_Ind]
* IncTim: Elapsed incubation time of the primary productivity experiment
* DIC Quality Comment: Quality Comment

Also removing the Cast and Bottle counts, which are essentially indexes (identifiers)
* 'Cst_Cnt': Auto-numbered Cast Count - all casts consecutively numbered. 1 is first station done
* 'Btl_Cnt': Auto-numbered Bottle count- all bottles ever sampled, consecutively numbered
* 'BtlNum': Bottle Number

In [5]:
''' Dropping unneeded columns and viewing two rows of the resulting dataframe '''
deleteList1 = ["Sta_ID","Depth_ID","IncTim","DIC Quality Comment","Cst_Cnt","Btl_Cnt","BtlNum"]
bottle = bottle.drop(*deleteList1)

print("There are now", len(bottle.columns), "columns and", bottle.count(), "rows")
bottle.show(2, truncate=False)

There are now 67 columns and 864863 rows
+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+----+------+------+-----+----+-----+----+-----+----+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+
|Depthm|T_degC|Salnty|O2ml_L|STheta|O2Sat|Oxy_µmol/Kg|RecInd|T_prec|T_qual|S_prec|S_qual|P_qual|O_qual|SThtaq|O2Satq|ChlorA|Chlqua|Phaeop|Phaqua|PO4uM|PO4q|SiO3uM|SiO3qu|NO2uM|NO2q|NO3uM|NO3q|NH3uM|NH3q|C14As1|C14A1p|C14A1q|C14As2|C14A2p|C14A2q|DarkAs|DarkAp|DarkAq|MeanAs|MeanAp|MeanAq|LightP|R_Depth|R_TEMP|R_POTEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_NH4|R_CHLA|R_PHAEO|R_PRES|R_SAMP|DIC1|DIC2|TA1 |TA2 |pH2 |pH1 |
+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+----+------+------+-----+----+-----+----+-----+----+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+
|0     |10.5  |33.44 |null  |25.649|null |null       |3     |1     |null  |2     |null  |9     |9     |null  |9     |null  |9     |null  |9     |null |9   |null  |9     |null |9   |null |9   |null |9   |null  |null  |9     |null  |null  |9     |null  |null  |9     |null  |null  |9     |null  |0.0    |10.5  |10.5    |33.44     |25.64  |233.0|0.0    |null|null   |null  |null |null |null |null |null  |null   |0     |null  |null|null|null|null|null|null|
|8     |10.46 |33.44 |null  |25.656|null |null       |3     |2     |null  |2     |null  |9     |9     |null  |9     |null  |9     |null  |9     |null |9   |null  |9     |null |9   |null |9   |null |9   |null  |null  |9     |null  |null  |9     |null  |null  |9     |null  |null  |9     |null  |8.0    |10.46 |10.46   |33.44     |25.65  |232.5|0.01   |null|null   |null  |null |null |null |null |null  |null   |8     |null  |null|null|null|null|null|null|
+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+-----+----+------+------+-----+----+-----+----+-----+----+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+
only showing top 2 rows

#### Handle quality values

Removing the four columns indicating quality codes because we're using the quantity measurements instead
* T_qual: Temperature Quality Code
* S_qual: Salinity Quality Code
* P_qual: Pressure Quality Code
* O_qual: Oxygen Quality Code
* 'O2Satq': Oxygen Saturation Quality Code
* 'Chlqua': Chlorophyll-a Quality Code
* 'Phaeop': Phaeophytin Quality Code
* 'Phaqua': Phosphate Quality Code
* 'PO4uM': Salinity Quality Code
* 'PO4q': Phosphate Quality Code
* 'SiO3qu': Quality Code
* 'NO2q': Quality Code
* 'NO3q': Nitrate Quality Code
* 'NH3q': Ammonium Quality Code
* 'C14A1q': 14C As1 Quality Code
* 'C14A2q': 14C As2 Quality Code
* 'DarkAq': 14C Assimilation Dark Bottle Quality Code
* 'MeanAq': Mean 14C Assimilation Quality Code

In [6]:
''' Dropping quality/irrelevant columns and viewing two rows of the resulting dataframe '''
deleteList2 = ['T_qual','S_qual','P_qual','O_qual','O2Satq','Chlqua','Phaeop','Phaqua','PO4uM','PO4q','SiO3qu','NO2q','NO3q','NH3q','C14A1q','C14A2q','DarkAq','MeanAq']
bottle = bottle.drop(*deleteList2)

print("There are now", len(bottle.columns), "columns and", bottle.count(), "rows")
bottle.show(2, truncate=False)

There are now 49 columns and 864863 rows
+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+-----+-----+-----+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+
|Depthm|T_degC|Salnty|O2ml_L|STheta|O2Sat|Oxy_µmol/Kg|RecInd|T_prec|S_prec|SThtaq|ChlorA|SiO3uM|NO2uM|NO3uM|NH3uM|C14As1|C14A1p|C14As2|C14A2p|DarkAs|DarkAp|MeanAs|MeanAp|LightP|R_Depth|R_TEMP|R_POTEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_NH4|R_CHLA|R_PHAEO|R_PRES|R_SAMP|DIC1|DIC2|TA1 |TA2 |pH2 |pH1 |
+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+-----+-----+-----+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+
|0     |10.5  |33.44 |null  |25.649|null |null       |3     |1     |2     |null  |null  |null  |null |null |null |null  |null  |null  |null  |null  |null  |null  |null  |null  |0.0    |10.5  |10.5    |33.44     |25.64  |233.0|0.0    |null|null   |null  |null |null |null |null |null  |null   |0     |null  |null|null|null|null|null|null|
|8     |10.46 |33.44 |null  |25.656|null |null       |3     |2     |2     |null  |null  |null  |null |null |null |null  |null  |null  |null  |null  |null  |null  |null  |null  |8.0    |10.46 |10.46   |33.44     |25.65  |232.5|0.01   |null|null   |null  |null |null |null |null |null  |null   |8     |null  |null|null|null|null|null|null|
+------+------+------+------+------+-----+-----------+------+------+------+------+------+------+-----+-----+-----+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+-----+------+-------+------+------+----+----+----+----+----+----+
only showing top 2 rows

#### Remove columns with low data count

We start by counting the number of NaNs and nulls in each column and reporting them in a new dataframe. Then the columns with less than 200,000 non-nulls are deleted.

In [7]:
''' Counting the number of null/NaN rows per column and outputting that in a new dataframe '''
from pyspark.sql.functions import *

def getNullCounts(df):
    return df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in bottle.columns])

nullCounter = getNullCounts(bottle)
nullCounter.show()

+------+------+------+------+------+------+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+------+-------+------+------+------+------+------+------+-------+------+------+------+------+------+------+------+------+
|Depthm|T_degC|Salnty|O2ml_L|STheta| O2Sat|Oxy_µmol/Kg|RecInd|T_prec|S_prec|SThtaq|ChlorA|SiO3uM| NO2uM| NO3uM| NH3uM|C14As1|C14A1p|C14As2|C14A2p|DarkAs|DarkAp|MeanAs|MeanAp|LightP|R_Depth|R_TEMP|R_POTEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|  R_O2|R_O2Sat|R_SIO3| R_PO4| R_NO3| R_NO2| R_NH4|R_CHLA|R_PHAEO|R_PRES|R_SAMP|  DIC1|  DIC2|   TA1|   TA2|   pH2|   pH1|
+------+------+------+------+------+------+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+------+-------+------+------+------+------+------+------+-------+------+------+------+------+------+------+------+------+
|     0| 10963| 47354|168662| 52689|203589|     203595|     0| 10963| 47354|799040|639591|510772|527287|527460|799901|850431|852103|850449|852121|842214|844406|842213|844406|846212|      0| 10963|   46047|     47354|  52856|52771|  46657|168662| 198415|510764|451538|527452|527279|799881|639587| 639588|     0|742857|862864|864639|862779|864629|864853|864779|
+------+------+------+------+------+------+-----------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+------+--------+----------+-------+-----+-------+------+-------+------+------+------+------+------+------+-------+------+------+------+------+------+------+------+------+

In [8]:
''' Deleting columns with less than 200000 non-nulls '''
thresh = maxRows - 200000
deleteList3 = []
for value in nullCounter.columns:
    if nullCounter.filter(nullCounter[value] > thresh).select(nullCounter[value]).collect():
        deleteList3.append(value)
bottle = bottle.drop(*deleteList3)

print("There are now", len(bottle.columns), "columns and", bottle.count(), "rows")
bottle.show(2, truncate=False)

There are now 30 columns and 864863 rows
+------+------+------+------+------+-----+-----------+------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|Depthm|T_degC|Salnty|O2ml_L|STheta|O2Sat|Oxy_µmol/Kg|RecInd|T_prec|S_prec|ChlorA|SiO3uM|NO2uM|NO3uM|R_Depth|R_TEMP|R_POTEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_CHLA|R_PHAEO|R_PRES|
+------+------+------+------+------+-----+-----------+------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|0     |10.5  |33.44 |null  |25.649|null |null       |3     |1     |2     |null  |null  |null |null |0.0    |10.5  |10.5    |33.44     |25.64  |233.0|0.0    |null|null   |null  |null |null |null |null  |null   |0     |
|8     |10.46 |33.44 |null  |25.656|null |null       |3     |2     |2     |null  |null  |null |null |8.0    |10.46 |10.46   |33.44     |25.65  |232.5|0.01   |null|null   |null  |null |null |null |null  |null   |8     |
+------+------+------+------+------+-----+-----------+------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
only showing top 2 rows

#### Remove null values from chlorophyll column

Because this is the target column, we can only use the non-null rows. We also get rid of the duplicate chlorophyll column `ChlorA`, keeping `R_CHLA` because it has less non-null rows (though only by a few).

In [9]:
''' Illustrating that we have two target columns that are essentially duplicates of each other '''
bottle.corr("ChlorA","R_CHLA")

0.9999995087108701

Because we only need one of these columns, we can delete the other. Then we drop all null rows of the R_CHLA column since it's our target.

In [10]:
''' Looking at which of the two target columns have more NaNs in order to select which to delete '''
nullCounter.select(*["ChlorA","R_CHLA"]).show()

+------+------+
|ChlorA|R_CHLA|
+------+------+
|639591|639587|
+------+------+

In [11]:
''' Delete the ChlorA column and drop all NaN rows in the R_CHLA column '''
bottle = bottle.drop("ChlorA")
bottle = bottle.dropna(subset="R_CHLA")

print("There are now", len(bottle.columns), "columns and", bottle.count(), "rows")
bottle.show(2, truncate=False)

There are now 29 columns and 225276 rows
+------+------+------+------+------+-----+-----------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|Depthm|T_degC|Salnty|O2ml_L|STheta|O2Sat|Oxy_µmol/Kg|RecInd|T_prec|S_prec|SiO3uM|NO2uM|NO3uM|R_Depth|R_TEMP|R_POTEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_CHLA|R_PHAEO|R_PRES|
+------+------+------+------+------+-----+-----------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|0     |19.23 |34.491|5.46  |24.575|103.9|237.9949   |3     |2     |3     |null  |null |1.3  |0.0    |19.23 |19.23   |34.491    |24.57  |335.3|0.0    |5.46|103.9  |null  |null |1.3  |null |0.64  |0.47   |0     |
|10    |19.22 |34.492|5.46  |24.578|103.9|237.9942   |3     |2     |3     |null  |null |1.9  |10.0   |19.22 |19.22   |34.492    |24.57  |335.3|0.03   |5.46|103.9  |null  |null |1.9  |null |0.66  |0.38   |10    |
+------+------+------+------+------+-----+-----------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
only showing top 2 rows

#### Remove "duplicate" columns

As we can see from the column above, there are some columns that are essentially duplicates of each other but in different units of measurement. Of the remaining columns, here are their descriptions that will help us determine which features to compare for potential deletion:

In [12]:
''' See what columns we still have '''
print(bottle.columns)

['Depthm', 'T_degC', 'Salnty', 'O2ml_L', 'STheta', 'O2Sat', 'Oxy_µmol/Kg', 'RecInd', 'T_prec', 'S_prec', 'SiO3uM', 'NO2uM', 'NO3uM', 'R_Depth', 'R_TEMP', 'R_POTEMP', 'R_SALINITY', 'R_SIGMA', 'R_SVA', 'R_DYNHT', 'R_O2', 'R_O2Sat', 'R_SIO3', 'R_PO4', 'R_NO3', 'R_NO2', 'R_CHLA', 'R_PHAEO', 'R_PRES']

Chlorophyll
* 'ChlorA': Acetone extracted chlorophyll-a measured fluorometrically
* 'R_CHLA': Reported Chlorophyll-a (micrograms per liter)

Depth
* 'Depthm': Depth in meters
* 'R_Depth': Reported Depth (from pressure) in meters

Water density
* 'STheta': Potential Density of Water
* 'R_SIGMA': Reported Potential Density of water

Silicate
* 'SiO3uM': Micromoles Silicate per liter of seawater
* 'R_SIO3': Reported Silicate Concentration

Nitrite
* 'NO2uM': Micromoles Nitrite per liter of seawater
* 'R_NO2': Reported Nitrite Concentration

Nitrate
* 'NO3uM': Micromoles Nitrate per liter of seawater
* 'R_NO3': Reported Nitrate Concentration

Salinity
* 'Salnty': Practical Salinity Scale, 1978 (UNESCO, 1981a); Salinity of water
* 'R_SALINITY': Reported Salinity (from Specific Volume Anomoly, M³/Kg)

O2 saturation
* 'O2Sat': Percent Saturation; Oxygen Saturation
* 'R_O2Sat': Percent	Reported Oxygen Saturation

Oxygen
* 'O2ml_L': Oxygen in mL/L; Milliliters of dissolved oxygen per Liter seawater
* 'Oxy_µmol/Kg': Oxygen in micro moles per kilogram of seawater
* 'R_O2': Reported milliliters of oxygen per liter of seawater

Temperature
* 'T_degC': Temperature of Water
* 'R_TEMP': Reported Temperature (Celsius)
* 'R_POTEMP': Reported Potential Temperature (Celsius)

Other
* 'S_prec': Salinity Units of Precision
* 'T_prec': Temperature Units of Precision
* 'RecInd': Record Indicator
* 'R_SVA': Reported Specific Volume Anomaly
* 'R_DYNHT': Reported Dynamic Height
* 'R_PO4': Reported Phosphate Concentration
* 'R_PHAEO': Reported Phaeophytin
* 'R_PRES': Pressure in decibars

In [13]:
''' Setting up a function that will streamline the comparing process '''
nullCounter = getNullCounts(bottle)

def psudoDuplicateCheck(features):
    nullCounter.select(*features).show()

    if len(features)==2:
        print("correlation:", bottle.corr(features[0],features[1]))
    elif len(features)==3:
        print("1&2 correlation:", bottle.corr(features[0],features[1]))
        print("2&3 correlation:", bottle.corr(features[1],features[2]))
        print("1&3 correlation:", bottle.corr(features[0],features[2]))

In [14]:
nullCounter.show()

+------+------+------+------+------+-----+-----------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|Depthm|T_degC|Salnty|O2ml_L|STheta|O2Sat|Oxy_µmol/Kg|RecInd|T_prec|S_prec|SiO3uM|NO2uM|NO3uM|R_Depth|R_TEMP|R_POTEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_CHLA|R_PHAEO|R_PRES|
+------+------+------+------+------+-----+-----------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|     0|  3088|  3433|  3610|  3781| 4500|       4502|     0|  3088|  3433|  8947|14951| 9573|      0|  3088|    3508|      3433|   3655| 3630|   3527|3610|   4352|  8941|10322| 9567|14945|     0|      5|     0|
+------+------+------+------+------+-----+-----------+------+------+------+------+-----+-----+-------+------+--------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+

In [15]:
Depths = ["Depthm","R_Depth"]
print("Depths NaN count:")
psudoDuplicateCheck(Depths)

WD = ["STheta","R_SIGMA"]
print("\nWater density NaN count:")
psudoDuplicateCheck(WD)

Silicate = ["SiO3uM","R_SIO3"]
print("\nSilicate NaN count:")
psudoDuplicateCheck(Silicate)

Nitrite = ["NO2uM","R_NO2"]
print("\nNitrite NaN count:")
psudoDuplicateCheck(Nitrite)

Nitrate = ["NO3uM","R_NO3"]
print("\nNitrate NaN count:")
psudoDuplicateCheck(Nitrate)

Salinity = ["Salnty","R_SALINITY"]
print("\nSalinity NaN count:")
psudoDuplicateCheck(Salinity)

Saturation = ["O2Sat","R_O2Sat"]
print("\nO2 Saturation NaN count:")
psudoDuplicateCheck(Saturation)

Oxygen = ["O2ml_L","Oxy_µmol/Kg","R_O2"]
print("\nOxygen NaN count:")
psudoDuplicateCheck(Oxygen)

Temperature = ["T_degC","R_TEMP","R_POTEMP"]
print("\nTemperature NaN count:")
psudoDuplicateCheck(Temperature)

Depths NaN count:
+------+-------+
|Depthm|R_Depth|
+------+-------+
|     0|      0|
+------+-------+

correlation: 0.9999999949168985

Water density NaN count:
+------+-------+
|STheta|R_SIGMA|
+------+-------+
|  3781|   3655|
+------+-------+

correlation: 0.9775619506024495

Silicate NaN count:
+------+------+
|SiO3uM|R_SIO3|
+------+------+
|  8947|  8941|
+------+------+

correlation: 0.9999991048864016

Nitrite NaN count:
+-----+-----+
|NO2uM|R_NO2|
+-----+-----+
|14951|14945|
+-----+-----+

correlation: 0.9999753963583337

Nitrate NaN count:
+-----+-----+
|NO3uM|R_NO3|
+-----+-----+
| 9573| 9567|
+-----+-----+

correlation: 0.9999998732099501

Salinity NaN count:
+------+----------+
|Salnty|R_SALINITY|
+------+----------+
|  3433|      3433|
+------+----------+

correlation: 0.9999999893049997

O2 Saturation NaN count:
+-----+-------+
|O2Sat|R_O2Sat|
+-----+-------+
| 4500|   4352|
+-----+-------+

correlation: 0.9903641742840068

Oxygen NaN count:
+------+-----------+----+
|O2ml_L|Oxy_µmol/Kg|R_O2|
+------+-----------+----+
|  3610|       4502|3610|
+------+-----------+----+

1&2 correlation: 0.9727492394078366
2&3 correlation: 0.9727398909191203
1&3 correlation: 0.9999894839294193

Temperature NaN count:
+------+------+--------+
|T_degC|R_TEMP|R_POTEMP|
+------+------+--------+
|  3088|  3088|    3508|
+------+------+--------+

1&2 correlation: 0.9999999632664396
2&3 correlation: 0.9788144336830903
1&3 correlation: 0.9788143110817276

We now delete the columns with fewer null if they have a correlation coeffecients of 0.97 or higher.

In the case of a tie, we can refer to the pattern that is very apparent in no-tie cases, which is that the "reported" (columns starting with `R_`) have the higher non-null count. Therefore if two columns have equal null counts and high enough correlation, we delete the not-"reported" column.

In [16]:
''' Deleting columns that are duplicates of some other column '''
deleteList4 = ["Depthm","STheta","SiO3uM","NO2uM","NO3uM","Salnty","O2Sat","O2ml_L","Oxy_µmol/Kg","T_degC","R_POTEMP"]
bottle = bottle.drop(*deleteList4)

print("There are now", len(bottle.columns), "columns and", bottle.count(), "rows")
bottle.show(2, truncate=False)

There are now 18 columns and 225276 rows
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|RecInd|T_prec|S_prec|R_Depth|R_TEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_CHLA|R_PHAEO|R_PRES|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|3     |2     |3     |0.0    |19.23 |34.491    |24.57  |335.3|0.0    |5.46|103.9  |null  |null |1.3  |null |0.64  |0.47   |0     |
|3     |2     |3     |10.0   |19.22 |34.492    |24.57  |335.3|0.03   |5.46|103.9  |null  |null |1.9  |null |0.66  |0.38   |10    |
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
only showing top 2 rows

In [17]:
# tbd
getNullCounts(bottle).show()

+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|RecInd|T_prec|S_prec|R_Depth|R_TEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_CHLA|R_PHAEO|R_PRES|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|     0|  3088|  3433|      0|  3088|      3433|   3655| 3630|   3527|3610|   4352|  8941|10322| 9567|14945|     0|      5|     0|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+

#### Fill null values

In [18]:
''' Using the function from PA3 '''
from pyspark.ml.feature import Imputer

def fill_na(df, strategy):    
    imputer = Imputer(
        strategy=strategy,
        inputCols=df.columns, 
        outputCols=["{}_imputed".format(c) for c in df.columns]
    )
    
    new_df = imputer.fit(df).transform(df)
    
    ''' Select the newly created columns with all filled values '''
    new_df = new_df.select([c for c in new_df.columns if "imputed" in c])
    
    for col in new_df.columns:
        new_df = new_df.withColumnRenamed(col, col.split("_imputed")[0])
        
    return new_df

In [19]:
''' Filling in the remaining null rows with the mean of the column and saving this newly filled in dataframe as a new variable '''
bottle_full = fill_na(bottle, 'mean')

print("There are still", len(bottle.columns), "columns and", bottle.count(), "rows")
bottle_full.show(2, truncate=False)

There are still 18 columns and 225276 rows
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------------------+------------------+-----+-------------------+------+-------+------+
|RecInd|T_prec|S_prec|R_Depth|R_TEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3            |R_PO4             |R_NO3|R_NO2              |R_CHLA|R_PHAEO|R_PRES|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------------------+------------------+-----+-------------------+------+-------+------+
|3     |2     |3     |0.0    |19.23 |34.491    |24.57  |335.3|0.0    |5.46|103.9  |11.529812096979274|0.9506145966112527|1.3  |0.05539378408325813|0.64  |0.47   |0     |
|3     |2     |3     |10.0   |19.22 |34.492    |24.57  |335.3|0.03   |5.46|103.9  |11.529812096979274|0.9506145966112527|1.9  |0.05539378408325813|0.66  |0.38   |10    |
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------------------+------------------+-----+-------------------+------+-------+------+
only showing top 2 rows

In [20]:
''' Double checking that all null values are filled '''
getNullCounts(bottle_full).show()

+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|RecInd|T_prec|S_prec|R_Depth|R_TEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_CHLA|R_PHAEO|R_PRES|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|     0|     0|     0|      0|     0|         0|      0|    0|      0|   0|      0|     0|    0|    0|    0|     0|      0|     0|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+

#### Lasso regression

> (my personal notes will indented)
> 1. tried to use Lasso in spark, turns out it's depricated, use LinearRegression instead
> 2. LinearRegression needs a label column (easy)
> 3. LinearRegression also needs a feature column (need help determining if this needs to be scaled before using lasso)
> 
> spark lasso: https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.mllib.regression.LassoWithSGD.html<br>
Warning: **"Use [pyspark.ml.regression.LinearRegression](https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.ml.regression.LinearRegression.html) with elasticNetParam = 1.0. Note the default regParam is 0.01 for LassoWithSGD, but is 0.0 for LinearRegression."**
> 
> need to specify a label column in order to use. default is to use a column *named* "label" but it *is* possible to have the model look for a specific name. however, renaming columns is something we've done in past PAs and i wanna use it to be like "HEY-YO WE'RE USING WHAT YOU SHOWED US :D"
> 
> **(need help here:)** need to create "features" column first (did this in PA3, filled NaNs with mean before creating "features" column), but not sure if we need to scale it before feeding to lasso AND not sure what alpha "regParam" to use (i thiiiiink regParam == alpha ? 😅 i'm actually not sure, but see the raw-cell below for more about which regParam to use)

To better estimate what columns are most important to our model, we use a lasso regression. Because spark LassoWithSGD has depricated, we use LinearRegression with `elasticNetParam = 1.0` for Lasso regression equivalent.

In order to use this, `label` and `features` columns need to be specified. We rename `R_CHLA` to `label` and create a features column with VectorAssembler.

In [21]:
''' Rename the target chlorophyll column to 'label' '''
bottle_full = bottle_full.withColumnRenamed('R_CHLA', 'label')

In [22]:
''' Creating 'features' column '''
from pyspark.ml.feature import VectorAssembler

''' (interm step) make list of column names other than 'label,' AKA make a list of the features '''
features = bottle_full.columns
features.remove('label')

# bottle_full = VectorAssembler(outputCol="features_unscaled").setInputCols(features).transform(bottle_full)
bottle_full = VectorAssembler(outputCol="features").setInputCols(features).transform(bottle_full)

bottle_full.show(2, truncate=False)

+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------------------+------------------+-----+-------------------+-----+-------+------+-----------------------------------------------------------------------------------------------------------------------------------+
|RecInd|T_prec|S_prec|R_Depth|R_TEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3            |R_PO4             |R_NO3|R_NO2              |label|R_PHAEO|R_PRES|features                                                                                                                           |
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------------------+------------------+-----+-------------------+-----+-------+------+-----------------------------------------------------------------------------------------------------------------------------------+
|3     |2     |3     |0.0    |19.23 |34.491    |24.57  |335.3|0.0    |5.46|103.9  |11.529812096979274|0.9506145966112527|1.3  |0.05539378408325813|0.64 |0.47   |0     |[3.0,2.0,3.0,0.0,19.23,34.491,24.57,335.3,0.0,5.46,103.9,11.529812096979274,0.9506145966112527,1.3,0.05539378408325813,0.47,0.0]   |
|3     |2     |3     |10.0   |19.22 |34.492    |24.57  |335.3|0.03   |5.46|103.9  |11.529812096979274|0.9506145966112527|1.9  |0.05539378408325813|0.66 |0.38   |10    |[3.0,2.0,3.0,10.0,19.22,34.492,24.57,335.3,0.03,5.46,103.9,11.529812096979274,0.9506145966112527,1.9,0.05539378408325813,0.38,10.0]|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------------------+------------------+-----+-------------------+-----+-------+------+-----------------------------------------------------------------------------------------------------------------------------------+
only showing top 2 rows

''' Scaling the features column '''
''' NOTE: to use this cell, un-comment-in the line in the above cell and then comment-out the line below it, then run this cell '''
from pyspark.ml.feature import StandardScaler

standardScaler = StandardScaler(withMean=True, inputCol='features_unscaled', outputCol='features')
scaledModel = standardScaler.fit(bottle_full)
bottle_full = scaledModel.transform(bottle_full)

In [23]:
''' Applying lasso regression where regParam= 0.0025 in place of alpha (?) '''
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(elasticNetParam = 1.0, regParam=0.0025, solver="normal", maxIter=1000, standardization=True)
model = lr.fit(bottle_full)

2022-05-20 19:40:18,564 WARN netlib.InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
2022-05-20 19:40:18,567 WARN netlib.InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS

##### regParam (alpha?) tinkering

In [24]:
print("when regParams=" + str(lr.getRegParam()) + ", model.coefficients=")
model.coefficients

when regParams=0.0025, model.coefficients=

DenseVector([0.0, 0.0, 0.0201, 0.0, -0.0718, 0.9188, 0.0, 0.0, -0.9898, 0.3511, 0.0118, 0.0177, 0.0, 0.0082, -0.6885, 2.2156, 0.0])

> okay i'm not sure how to adjust alpha like we would with a regular non-spark LassoRegression, but changing regParam did change which columns had nonzero coefficients which is what we did for regular Lasso
> 
> all of the model.coefficients align with the six columns `'R_SALINITY','R_DYNHT','R_O2','R_SIO3','R_NO2','R_PHAEO'` but otherwise include at least one more that doesn't appear in all other regParam tests
>
> | regParam | nonzero coeffs | S-prec? | R_TEMP? | R_SVA? | R_O2Sat? | R_NO3 |
> |----------|----------------|---------|---------|--------|----------|-------|
> | 0.0      |       17       |   Yes   |   Yes   |   Yes  |    Yes   |  Yes  |
> | 0.001    |       13       |   Yes   |   Yes   |        |    Yes   |  Yes  |
> | 0.002    |       10       |   Yes   |   Yes   |        |    Yes   |  Yes  |
> | 0.003    |       10       |   Yes   |   Yes   |        |    Yes   |  Yes  |
> | 0.005    |        9       |   Yes   |   Yes   |        |          |       |
> | 0.008    |        8       |         |   Yes   |        |          |       |
> | 0.010    |        7       |         |   Yes   |        |          |       |
> | 0.013    |        8       |         |   Yes   |   Yes  |          |       |
> | 0.015    |        8       |         |   Yes   |   Yes  |          |       |
> | 0.018    |        7       |         |         |   Yes  |          |       |
> | 0.020    |        7       |         |         |   Yes  |          |       |
>
> also it looks like scaling doesn't actually change much other than the absolute value of the coefficients

when regParams=0.00, model.coefficients=
DenseVector([-0.0029, 0.0189, 0.0311, -0.2704, -0.1755, 1.2258, 2.1681, 0.0271, -1.0676, 0.2813, 0.0188, 0.0153, 0.0011, 0.0111, -0.6229, 2.2373, 0.2685])

when regParams=0.001, model.coefficients=
DenseVector([-0.0001, 0.0062, 0.0032, 0.0, -0.0789, 0.9289, 0.0, 0.0, -1.1695, 0.3114, 0.0159, 0.0168, 0.0, 0.0115, -0.7123, 2.2171, 0.0005])

when regParams=0.002, model.coefficients=
DenseVector([0.0, 0.0, 0.0244, 0.0, -0.0705, 0.9265, 0.0, 0.0, -1.0012, 0.3739, 0.011, 0.0186, 0.0, 0.0082, -0.7002, 2.2138, 0.0])

when regParams=0.003, model.coefficients=
DenseVector([0.0, 0.0, 0.0221, 0.0, -0.0661, 0.9176, 0.0, 0.0, -0.9843, 0.3941, 0.0088, 0.0181, 0.0, 0.0071, -0.6822, 2.2138, 0.0])

when regParams=0.005, model.coefficients=
DenseVector([0.0, 0.0, 0.0242, 0.0, -0.0495, 0.8996, 0.0, 0.0, -0.9555, 0.5039, 0.0, 0.0183, 0.0, 0.0035, -0.6506, 2.2114, 0.0])

when regParams=0.008, model.coefficients=
DenseVector([0.0, 0.0, 0.0059, 0.0, -0.0475, 0.8597, 0.0, 0.0, -0.899, 0.4578, 0.0, 0.0169, 0.0, 0.0, -0.5806, 2.2149, 0.0])

when regParams=0.01, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, -0.0448, 0.8327, 0.0, 0.0, -0.8605, 0.4312, 0.0, 0.0146, 0.0, 0.0, -0.5362, 2.2178, 0.0])

when regParams=0.013, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, -0.0359, 0.7746, 0.0, -0.0002, -0.7998, 0.3893, 0.0, 0.0112, 0.0, 0.0, -0.4699, 2.2226, 0.0])

when regParams=0.015, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, -0.0186, 0.6981, 0.0, -0.0009, -0.7541, 0.3635, 0.0, 0.0093, 0.0, 0.0, -0.4276, 2.2229, 0.0])

when regParams=0.018, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, 0.0, 0.6068, 0.0, -0.0017, -0.693, 0.3234, 0.0, 0.0061, 0.0, 0.0, -0.3667, 2.225, 0.0])

when regParams=0.02, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, 0.0, 0.5884, 0.0, -0.0016, -0.6589, 0.2961, 0.0, 0.0036, 0.0, 0.0, -0.3242, 2.2282, 0.0])

============================

(scaled) when regParams=0.0, model.coefficients=
DenseVector([-0.0055, 0.0011, 0.0039, -15.9828, -0.5371, 0.384, 1.6473, 1.9331, -0.1656, 0.3671, 0.4719, 0.1697, 0.0007, 0.1117, -0.0593, 0.7507, 15.9782])

(scaled) when regParams=0.01, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, -0.137, 0.2607, 0.0, 0.0, -0.1335, 0.5623, 0.0, 0.1619, 0.0, 0.0, -0.0511, 0.7442, 0.0])

(scaled) when regParams=0.013, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, -0.1099, 0.2427, 0.0, -0.0159, -0.1241, 0.508, 0.0, 0.1243, 0.0, 0.0, -0.0447, 0.7458, 0.0])

(scaled) when regParams=0.015, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, -0.0571, 0.2187, 0.0, -0.0667, -0.117, 0.4745, 0.0, 0.1028, 0.0, 0.0, -0.0407, 0.7458, 0.0])

(scaled) when regParams=0.018, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, 0.0, 0.1901, 0.0, -0.1188, -0.1075, 0.4221, 0.0, 0.0673, 0.0, 0.0, -0.0349, 0.7465, 0.0])

(scaled) when regParams=0.02, model.coefficients=
DenseVector([0.0, 0.0, 0.0, 0.0, 0.0, 0.1844, 0.0, -0.1113, -0.1022, 0.3866, 0.0, 0.0399, 0.0, 0.0, -0.0309, 0.7476, 0.0])

##### using the coeff list

> here are the "most useful" features. i'm not sure if i should be deleting the "useless" ones or just dropping nulls from the other columns

In [25]:
''' Find the "most useful" and "not useful" features, as according to the lasso regresion when regParam=0.0025 '''

coeff = model.coefficients
usefulFeatures = []
# deleteList5 = []

print("(For-loop of", len(coeff), "iterations)")
for i in range(len(coeff)):
    if coeff[i] != 0:
        usefulFeatures.append(features[i])
#     else:
#         deleteList5.append(features[i])

print("When regParam="+str(lr.getRegParam())+", this lasso model indicates the most useful columns to predicting chlorophyll are:", usefulFeatures)

(For-loop of 17 iterations)
When regParam=0.0025, this lasso model indicates the most useful columns to predicting chlorophyll are: ['S_prec', 'R_TEMP', 'R_SALINITY', 'R_DYNHT', 'R_O2', 'R_O2Sat', 'R_SIO3', 'R_NO3', 'R_NO2', 'R_PHAEO']

In [26]:
''' Moving back to dataframe before nulls were filled with means, drop the null rows of the "most useful" features '''
bottle = bottle.dropna(subset=usefulFeatures)

In [27]:
''' Moving back to dataframe before nulls were filled with means, drop the "not useful" features '''
# bottle = bottle.drop(*deleteList5)

' Moving back to dataframe before nulls were filled with means, drop the "not useful" features '

In [28]:
''' View the dimensions and two rows of the resulting dataframe '''
print("Moving back to dataframe before nulls were filled with means, here are now", len(bottle.columns), "columns and", bottle.count(), "rows")
bottle.show(2, truncate=False)

Moving back to dataframe before nulls were filled with means, here are now 18 columns and 208035 rows
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|RecInd|T_prec|S_prec|R_Depth|R_TEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_CHLA|R_PHAEO|R_PRES|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|7     |2     |3     |0.0    |15.34 |33.492    |24.73  |319.9|0.0    |5.86|102.8  |2.0   |0.25 |0.1  |0.0  |0.85  |0.19   |0     |
|3     |2     |3     |1.0    |15.34 |33.492    |24.73  |319.9|0.003  |5.86|102.8  |2.0   |0.25 |0.1  |0.0  |0.85  |0.19   |1     |
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
only showing top 2 rows

#### Make sure column values are the right type

In [29]:
''' Check the dtypes of each column '''
bottle.printSchema()

root
 |-- RecInd: integer (nullable = true)
 |-- T_prec: integer (nullable = true)
 |-- S_prec: integer (nullable = true)
 |-- R_Depth: double (nullable = true)
 |-- R_TEMP: double (nullable = true)
 |-- R_SALINITY: double (nullable = true)
 |-- R_SIGMA: double (nullable = true)
 |-- R_SVA: double (nullable = true)
 |-- R_DYNHT: double (nullable = true)
 |-- R_O2: double (nullable = true)
 |-- R_O2Sat: double (nullable = true)
 |-- R_SIO3: double (nullable = true)
 |-- R_PO4: double (nullable = true)
 |-- R_NO3: double (nullable = true)
 |-- R_NO2: double (nullable = true)
 |-- R_CHLA: double (nullable = true)
 |-- R_PHAEO: double (nullable = true)
 |-- R_PRES: integer (nullable = true)

In [30]:
''' Row count, and comparison to original row count '''
print("There are now", len(bottle.columns), "columns and", bottle.count(), "rows (which is", maxRows-bottle.count(), "less than the original row count)")

There are now 18 columns and 208035 rows (which is 656828 less than the original row count)

#### Summary Statistics and graphs

In [31]:
''' See the detailed numerical description of the current dataframe '''
bottle.describe().show()

+-------+------------------+------------------+--------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+------------------+
|summary|            RecInd|            T_prec|              S_prec|          R_Depth|            R_TEMP|         R_SALINITY|           R_SIGMA|             R_SVA|            R_DYNHT|              R_O2|          R_O2Sat|            R_SIO3|             R_PO4|             R_NO3|              R_NO2|             R_CHLA|            R_PHAEO|            R_PRES|
+-------+------------------+------------------+--------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+------------------+
|  count|            208035|            208035|              208035|           208035|            208035|             208035|            208011|            208013|             208035|            208035|           208035|            208035|            207037|            208035|             208035|             208035|             208035|            208035|
|   mean|4.3699329439757735|2.0035474799913477|    2.99938471891749|72.51875405580792|12.935006878650077| 33.500370831831134|25.199403435394903|277.25738775941875|0.20956609705099236| 4.806453817867172|81.28219001610377|11.477197106256273|0.9519035727912132| 9.551400004808455|0.05555521907378838|0.43074977768152034|0.18781623284542512| 72.81455524310813|
| stddev| 1.897456443926024|0.0603379177082234|0.024797287502437773| 58.2877318349308| 3.055552833089959|0.30418095242393295|0.7629217759161452| 71.75332048974911|0.15544466181460126|1.3108261398961925|25.23722373153649|11.258526797917446|0.6699576002454936|10.297151443902253|0.09865620230922198| 1.1391470120828653|0.27902387604263734|58.680177182124815|
|    min|                 3|                 1|                   2|              0.0|              3.74|             29.934|              22.4|              14.7|                0.0|              0.05|              0.7|               0.0|               0.0|              -0.4|                0.0|              -0.01|              -3.89|                 0|
|    max|                 7|                 3|                   3|           1029.0|             24.95|             37.034|             27.95|             542.9|               1.66|             11.13|            214.1|             123.7|              4.39|              44.4|                2.3|              66.11|              10.66|              1038|
+-------+------------------+------------------+--------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+------------------+

In [32]:
getNullCounts(bottle).show()

+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|RecInd|T_prec|S_prec|R_Depth|R_TEMP|R_SALINITY|R_SIGMA|R_SVA|R_DYNHT|R_O2|R_O2Sat|R_SIO3|R_PO4|R_NO3|R_NO2|R_CHLA|R_PHAEO|R_PRES|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+
|     0|     0|     0|      0|     0|         0|     24|   22|      0|   0|      0|     0|  998|    0|    0|     0|      0|     0|
+------+------+------+-------+------+----------+-------+-----+-------+----+-------+------+-----+-----+-----+------+-------+------+

## Questions

#### Which factors are chlorophyll levels most dependent on?
#### Can we use these factors as features in a model that accurately predict chlorophyll levels in a marine ecosystem?
#### Can these few, simple, measurable factors we found indicate whether an ocean ecosystem is healthy and sustainable based on the chlorophyll abundance measured?
#### Can we predict chlorophyll abundance without having to measure it?

## Feature Selection and Target Cleaning

#### Distribution of data for cholorophyll levels, summary stats

In [33]:
bottle.agg(min('R_CHLA'), max('R_CHLA'), mean('R_CHLA'), stddev('R_CHLA'), count('R_CHLA'), skewness('R_CHLA')).show()

+-----------+-----------+-------------------+-------------------+-------------+------------------+
|min(R_CHLA)|max(R_CHLA)|        avg(R_CHLA)|stddev_samp(R_CHLA)|count(R_CHLA)|  skewness(R_CHLA)|
+-----------+-----------+-------------------+-------------------+-------------+------------------+
|      -0.01|      66.11|0.43074977768152034| 1.1391470120828653|       208035|10.820339155374741|
+-----------+-----------+-------------------+-------------------+-------------+------------------+

##### Looking at this summary data of our chlorophyll levels, the data is highly positively skewed. This is displayed in our skewness value but also the difference between the maximum value and the mean.

#### Define cholorophyll category levels: low, medium, high?

##### As displayed in Figure 4 of this article,https://www.nature.com/scitable/knowledge/library/the-biological-productivity-of-the-ocean-70631104/, the chlorophyll concentrations in the ocean can be split into three category levels, low, medium, and high. Our low category range will be between 0 > x > .1ug/l, medium range will be .1 >= x > 1ug/l, and high concentrations will be x >= 1ug/l.

#### Map cholorophyll levels to defined categories and output graphs/summary stats and Add target column with category label to dataframe

In [34]:
lowThreshold = .1
medThreshold = 1

In [35]:
bottle = bottle.withColumn(
    'Target',
     when((col("R_CHLA") < lowThreshold), 0)\
    .when((col("R_CHLA").between(lowThreshold, medThreshold)), 1)\
    .when((col("R_CHLA") > medThreshold), 2)\
    .otherwise(10)
)

In [36]:
bottle.groupby('Target').count().show()

+------+------+
|Target| count|
+------+------+
|     1|115096|
|     2| 17386|
|     0| 75553|
+------+------+

#### PCA columns that are duplicates

#### Heat Map to see any less obvious columns that are highly from pyspark.ml.stat import Correlationcorrelated

In [37]:
from pyspark.ml.stat import Correlation

In [38]:
# Commented out because Katie is still working on it
# outputColumn = 'allColumnVec'
# assembler = VectorAssembler(inputCols=bottle.columns, outputCol=outputColumn)
# df_vector = assembler.transform(bottle).select(outputColumn)

# # get correlation matrix
# matrix = Correlation.corr(df_vector, outputColumn)

In [39]:
# correlationsLabel = []
# rangeColumns = range(len(bottle.columns))
# for i in rangeColumns:
#     for j in rangeColumns:
#         if(i != j):
#             print(f"Correlation between {bottle.columns[i]} and {bottle.columns[j]}",\
#                                       Correlation.corr(bottle, [bottle.columns[i],bottle.columns[j]]))
#         else: 
#             continue;

In [40]:
# correlationsLabel

#### Select features to be used for training

## Models

#### Scale Data

#### Split data into 80/10/10 train, test, validation set

### Logistic Regresssion

#### Cross Validation

#### Check to see if data can be used to predict the lables

#### Train and Test Accuracy Scores

### AdaBoost Decision Tree

#### Can we increase accuracy from previous steps? Can we figure out which features matter the most?

#### Train and Test Accuracy Scores

#### Kernel SVM

## Data Visualization

#### SVM Decision Boundary Graph

#### AdaBoost Decision Tree Graph
https://www.ashishmenkudale.com/spark-tree-plotting/

# Stop spark session

In [41]:
#spark.stop()